h1{
    text-align:center;
    text-decoration:underline;
    font-family: 'Spicy Rice', cursive;
    color:purple;
}
img{
    height:300px;
    width: 70%;
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
body{
    text-align:center;
}
.sandwhich{
    color:white;
    border:solid blue;
    background-color:purple;
}
p{
     font-family: 'Spicy Rice', cursive;
     color:purple;
}
.watch{
    color:white;
    border:solid blue;
    background-color:purple;
}
    